@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

*{
	font-weight:600;
	margin:0;
	padding: 0;
	/* border: 1px solid red;  */
}

body {
	display: flex;
	justify-content: center;
	padding: 20px;
	background-image: url("back.jpg");
	background-size:cover;
	background-repeat: repeat-y;
	background-color: #060117;
}
.container {
	display: flex;
	flex-direction: column;
	padding: 5px;
	width: 300px;
	margin: 15% auto;
	border: 3px solid #a7cb05;
	border-radius: 10px 5px;
	background-color: #060117ee;
	
}	
.display {
	width: 80%; 
	height: 50px;
	padding: 10px;
	margin: 15px auto;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	border-radius: 10px;
	border: 1px solid rgb(231, 231, 231);
	font-family: "Oxanium", sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #e7e700;
	box-shadow: 1px 1px 10px 5px rgb(138, 0, 197);
}

.panel {
	display: flex;
	flex-direction: column;
}
.number-container {
	width: 200px;
	height: 225px;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	gap: 5px;

}

.number {
	display: flex;
	height: 50px;
	width: 50px;
	border-radius: 10px;
	text-align: center;
	align-items: center;
	justify-content: center;
	border: 1px solid rgb(231, 231, 231);
	color: magenta;
	box-shadow: 1px 1px 5px 5px cyan;
	font-family: "Oxanium", sans-serif;
	
}

.top-buttons {
	height: 45px;
	width: auto;
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	
	
}

.x {
	margin-right: 12px;
	
}
.x,
.c {
	display: flex;
	width: 50px;
	height: 35px;
	border-radius: 50px;
	align-items: center;
	justify-content: center;
	/* margin-right: 7px; */
	margin-top: 7px;
	border: 1px solid rgb(231, 231, 231);
	color: magenta;
	box-shadow: 1px 1px 5px 5px cyan;
	font-family: "Oxanium", sans-serif;
}

.secondary-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.operator-container {
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* flex-direction: column; */
	margin: 15px 5px; 
	gap: 5px;
	align-items: center;
}

.operator {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: 1px solid rgb(231, 231, 231);
	box-shadow: 1px 1px 5px 5px cyan;
	color: magenta;
	font-family: "Oxanium", sans-serif;
	
}


.operator:hover,
.number:hover,
.x:hover,
.c:hover {
	background-color: #06011714;
	color: rgb(255, 0, 136);
	cursor: pointer;
	box-shadow: 1px 1px 2px 2px cyan;
}


/*Modal joke*/

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	display: flex;
	/* align-items: center; */
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.6);
	margin: 5% auto; /* 15% from the top and centered */
	padding: 20px;
	/* border: 1px solid #242424; */
	width: 80%; /* Could be more or less, depending on screen size */
  }

  .mia {
	width: 500px;
	height: auto;
  }